.fixedNavbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5s;
}
.fixedNavbar .logo {
    float:left;
}
.logo img {
    height:80px;
    transition:.5s;
}
.navbar-ul {
    float : right;
    margin:0;
    padding:0;
    display:flex;
}
.navbar-ul li {
    list-style:none;
    height:80px;
    /* background-color:red; */
}
.navbar-ul li p{
    line-height:70px;
    font-size: 20PX;
    color:WHITE;
    padding:5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition:.5s;
}

.navbar-ul li a.active, .navbar-ul li a:hover {
 
 background:blue;
}

.black {
    background: black;
    z-index: 99;
    transition:.8s;
    height:100px;
    padding:10px 50px;
}
.main_row {
    position:absolute;
    top:30%;
    width:100%;
    color:white;
    font-size: 20px;
    margin:auto;
    text-align: center;

}

.nav-item:hover {
    border:1px solid white;
    border-radius: 50%;
}
