.singleProject {
  /* width:300px;
  height:40%; */
  /* border:1px solid gray; */
  display:inline-block;
  background-size:100%;
  margin:10px auto;
  margin-left:20px;
  margin-right:20px;
  text-align: center;
}
.cardtitle {
  font-weight: bold;
  font-size: 20px;
}

.img_modal {
  width:80%;
  border:1px solid black;
}

.contents_modal {
  text-align: center;
  margin:auto;
}